.change-config {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.change-config-content {
  background-color: #416a59;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 8rem;
  padding-top: 3rem;
}
#title {
  color: #f5eec2;
  font-size: 3rem;
  margin-left: -4rem;
}
