.welcome-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.welcome-page-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.welcome-page h1 {
  color: #f5eec2;
  margin: 0 auto;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 4rem;
  text-align: center;
}
h2{
  text-align: center;
}
.time-dots {
  animation: blink;
}
