.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 13%;
  background-color: #39395f;
}
.navbar-logo {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.navbar-grow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0.5rem;
}
p {
  font-weight: bold;
  color: #f5eec2;
  font-size: 1rem;
}
.navbar_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0.5rem;
}
.navbar_div_copyright {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navbar_div_copyright p {
  font-size: 0.8rem;
  font-weight: lighter;
}
