.weather {
  margin: 0 auto;
}
h2 {
  color: #f5eec2;
}
span {
  color: #f5eec2;
  font-size: 2rem;
}
img {
  color: #f5eec2;
}
.weather h2,
span {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
